---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline} from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import { GithubCard } from 'astro-pure/advanced'
import { Image } from 'astro:assets'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>💻 💵 Data Engineer / 📚 👨‍🎓Analista Programador Universitario / 📔👨‍🔧 Tecnico En Electronica</p>
  <p>
    Trabajo como Data Engineer en BB-Media, especializado en Web Scaping usando Python, MongoDB, Insomia y demas Tecnologias. Tambien soy Tecnico y Estoy cursando 4to año de Licenciatura en Sistemas en UNLP Informatica
  </p>
  
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/fabian-martinez-rincon'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Testing Engineer (Gaming Labs Sudamerica) 01/07/2023 - 17/09/2024</h2>
  <p>
    Desarrollé un software en Python usando <a>Pandas</a>, <a>PyGetWindow</a>, <a>OpenPyXL</a>, <a>PyAutoGUI</a> y <a>Tkinter</a> para automatizar la entrada de datos en máquinas de juego, mejorando notablemente la eficiencia, reduciendo el tiempo de pruebas de 60hs a solo 5hs con un margen de error del 0%.
  </p>
  
  <p>
    Desarrollé una herramienta en Python utilizando la biblioteca <a>Difflib</a> para comparar dos bases de datos y detectar diferencias entre ellas, optimizando el tiempo de comparación de aproximadamente 5 horas a solo unos minutos. Para la gestión de archivos y directorios, implementé funciones con <a>OS</a>, y para la generación de informes detallados, utilicé <a>Xlsxwriter</a>, creando hojas de cálculo en Excel que resumen visualmente las modificaciones realizadas.
  </p>

  <p>
    Desarrollé un programa en <a>Python</a> que proporciona comandos para formatear permisos a través de un archivo <a>Excel</a>. Este programa cuenta con una interfaz gráfica creada con <a>Tkinter</a> que permite cargar, consultar, setear y eliminar permisos de forma individual o recursiva. Utiliza bibliotecas como <a>Pandas</a> para la manipulación de datos y <a>OpenPyXL</a> para la creación y formateo de archivos Excel. Este software es aplicable a cualquier empresa que necesite gestionar permisos de forma eficiente y segura.
  </p>
  <p>
    Desarrollé un programa en <a>Python</a> que extrae elementos <a>HTML</a> de una página web y los guarda en un archivo Excel para facilitar el trabajo del equipo de QA. Este programa utiliza bibliotecas como <a>BeautifulSoup</a> para el procesamiento de <a>HTML</a>, <a>Pandas</a> para la manipulación de datos y <a>OpenPyXL</a> para la creación y formateo de archivos Excel. Esto ha mejorado la eficiencia y precisión en la captura y manejo de datos relevantes.
  </p>
  <p>Optimicé la gestión de permisos de usuario implementando y administrando Listas de Control de Acceso (<a>ACL</a>) en un entorno <a>Linux</a>. Posteriormente, automatice el proceso mediante <a>Bash Scripting</a> desarrollado en <a>Vim</a>, que asigna eficientemente los permisos necesarios a los grupos correspondientes en toda la infraestructura empresarial</li>



  <h2 id='hobbies'>Hobbies</h2>
    <div class="max-w-5xl mx-auto p-4">
      <div class="flex gap-4">
        <!-- Tarjeta de imagen -->
        <a
          href="#"
          class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
        >
          <img
            src="https://rincondelfabo.vercel.app/certificaciones/diploma-fundamentos-ingenieria-datos_page-0001.jpg"
            alt="Placeholder Image"
            class="h-60 w-full object-cover"
            loading="lazy"
          />
        </a>
        <!-- Otra tarjeta de imagen -->
        <a
          href="#"
          class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
        >
          <img 
            src="https://rincondelfabo.vercel.app/certificaciones/spaceApps.webp"
            alt="Placeholder Image"
            class="h-60 w-full object-cover"
            loading="lazy"
          />
        </a>
        <a
        href="#"
        class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
      >
        <img
          src="https://rincondelfabo.vercel.app/certificaciones/tecnico.webp"
          alt="Placeholder Image"
          class="h-60 w-full object-cover"
          loading="lazy"
        />
      </a>
      </div>
    </div>

    <div class="max-w-5xl mx-auto p-4">
      <div class="flex gap-4">
        <!-- Tarjeta de imagen -->
        <a
          href="#"
          class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
        >
          <img
            src="https://rincondelfabo.vercel.app/certificaciones/unidea.webp"
            alt="Placeholder Image"
            class="h-60 w-full object-cover"
            loading="lazy"
          />
        </a>
        <!-- Otra tarjeta de imagen -->
        <a
          href="#"
          class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
        >
          <img
            src="https://rincondelfabo.vercel.app/certificaciones/diploma-git-github_page-0001.jpg"
            alt="Placeholder Image"
            class="h-60 w-full object-cover"
            loading="lazy"
          />
        </a>
        <a
        href="#"
        class="group relative flex flex-col w-1/2 overflow-hidden rounded-2xl border border-border bg-muted transition-all hover:border-foreground/25 hover:shadow-sm"
      >
        <img
          src="https://rincondelfabo.vercel.app/certificaciones/unitec.webp"
          alt="Placeholder Image"
          class="h-60 w-full object-cover"
          loading="lazy"
        />
      </a>
      </div>
    </div>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/icons/vscode.svg?raw')
      },
      {
        name: 'Insomnia',
        description: 'Request Testing',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/insomnia.svg?raw')
      },
      {
        name: 'Studio 3T',
        description: 'MongoDB Client',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/Studio_3T.svg?raw')
      },
      {
        name: 'MongoDB',
        description: 'Database',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/mongodb.svg?raw')
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        icon: import('@/assets/icons/icons8-python.svg?raw')
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        icon: import('@/assets/icons/icons8-git.svg?raw')
      },
      {
        name: 'PostgreSQL',
        description: 'Database',
        href: 'https://postgrest.org/',
        icon: import('@/assets/icons/icons8-postgresql.svg?raw')
      }

    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Dejo mi github con algunos proyectos/blogs
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/fabian-martinez-rincon',
        text: 'followers',
        api: 'github/fabian-martinez-rincon'
      }
    ]}
  />

  <Comment slot='bottom' />
</PageLayout>
