---
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import { Image } from 'astro:assets'
import diploma from '@/assets/certificaciones/diploma.png'
import bb from '@/assets/bb.jpg'
const headings = [
  { depth: 2, slug: 'resume', text: 'Resume' },
  { depth: 2, slug: 'imagenes', text: 'Algunas Imagenes' },
  { depth: 2, slug: 'certificados', text: 'Certificados' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social', text: 'Redes' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>💻 💵 Data Engineer / 📚 👨‍🎓Analista Programador Universitario / 📔👨‍🔧 Tecnico En Electronica</p>
  <p>
    Trabajo como Data Engineer en BB-Media, especializado en Web Scraping usando Python, MongoDB, Insomnia y demás Tecnologías. También soy Técnico, Analista Programador Universitario y estoy terminando la Licenciatura en Sistemas en UNLP Informática
  </p>
  
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/fabian-martinez-rincon'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  {/* general-talk */}
  <h2 id='resume'>Testing Engineer (Gaming Labs Sudamerica) 01/07/2023 - 17/09/2024</h2>
  <p>
    Desarrollé un software en Python usando <a>Pandas</a>, <a>PyGetWindow</a>, <a>OpenPyXL</a>, <a>PyAutoGUI</a> y <a>Tkinter</a> para automatizar la entrada de datos en máquinas de juego, mejorando notablemente la eficiencia, reduciendo el tiempo de pruebas de 60hs a solo 5hs con un margen de error del 0%.
  </p>
  
  <p>
    Desarrollé una herramienta en Python utilizando la biblioteca <a>Difflib</a> para comparar dos bases de datos y detectar diferencias entre ellas, optimizando el tiempo de comparación de aproximadamente 5 horas a solo unos minutos. Para la gestión de archivos y directorios, implementé funciones con <a>OS</a>, y para la generación de informes detallados, utilicé <a>Xlsxwriter</a>, creando hojas de cálculo en Excel que resumen visualmente las modificaciones realizadas.
  </p>

  <p>
    Desarrollé un programa en <a>Python</a> que proporciona comandos para formatear permisos a través de un archivo <a>Excel</a>. Este programa cuenta con una interfaz gráfica creada con <a>Tkinter</a> que permite cargar, consultar, setear y eliminar permisos de forma individual o recursiva. Utiliza bibliotecas como <a>Pandas</a> para la manipulación de datos y <a>OpenPyXL</a> para la creación y formateo de archivos Excel. Este software es aplicable a cualquier empresa que necesite gestionar permisos de forma eficiente y segura.
  </p>
  <p>
    Desarrollé un programa en <a>Python</a> que extrae elementos <a>HTML</a> de una página web y los guarda en un archivo Excel para facilitar el trabajo del equipo de QA. Este programa utiliza bibliotecas como <a>BeautifulSoup</a> para el procesamiento de <a>HTML</a>, <a>Pandas</a> para la manipulación de datos y <a>OpenPyXL</a> para la creación y formateo de archivos Excel. Esto ha mejorado la eficiencia y precisión en la captura y manejo de datos relevantes.
  </p>
  <p>Optimicé la gestión de permisos de usuario implementando y administrando Listas de Control de Acceso (<a>ACL</a>) en un entorno <a>Linux</a>. Posteriormente, automatice el proceso mediante <a>Bash Scripting</a> desarrollado en <a>Vim</a>, que asigna eficientemente los permisos necesarios a los grupos correspondientes en toda la infraestructura empresarial</li>

    <h2 id='imagenes'>Algunas Imagenes</h2>
    <p>Imagenes que me parecieron interesantes mostrar en la pagina para que sea un poco mas entretenida :D</p>

    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">

      
      <Image
        src={bb}
        alt="Imagen 3"
        width={450}
        height={250}
        class="w-full max-w-[300px] h-[350px] object-cover rounded-xl"
      />
    </div>

    <br>

    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">
      

      <Image
        src="https://rincondelfabo.vercel.app/images/3.webp"
        alt="Imagen 3"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
      <Image
        src="https://rincondelfabo.vercel.app/images/6.webp"
        alt="Imagen 6"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
    </div>
    
    <br>
    
    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">
      <Image
        src="https://rincondelfabo.vercel.app/images/1.webp"
        alt="Imagen 1"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
      <Image
        src="https://rincondelfabo.vercel.app/images/2.webp"
        alt="Imagen 2"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
    </div>
    
    <br>
    
    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">
      <Image
        src="https://rincondelfabo.vercel.app/images/4.webp"
        alt="Imagen 4"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
      <Image
        src="https://rincondelfabo.vercel.app/images/5.webp"
        alt="Imagen 5"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
    </div>
    
    <br>
    
    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">
      <Image
        src="https://rincondelfabo.vercel.app/images/7.webp"
        alt="Imagen 7"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
      <Image
        src="https://rincondelfabo.vercel.app/images/8.webp"
        alt="Imagen 8"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
    </div>
    
    <br>
    
    <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4">
      <Image
        src="https://github.com/user-attachments/assets/ab60e2b0-d17b-43ca-bb58-2638285a889a"
        alt="Imagen 10"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
      <Image
        src="https://github.com/user-attachments/assets/1d97c8ff-a1d2-44c4-97dd-4603bd5b9447"
        alt="Imagen 6"
        width={450}
        height={250}
        class="w-full max-w-[450px] h-[250px] object-cover rounded-xl"
      />
    </div>
    
    

  <h2 id='certificados'>Certificados</h2>
  <p>Diplomas/Certificados que consiguiendo a lo largo del tiempo</p>

  <div class="flex flex-row flex-wrap justify-center gap-4 mt-4">
        <Image
          src={diploma}
          alt="Espacio de trabajo 1"
          class="h-72 w-auto border border-black"
        />
      </div>

  <div class="max-w-5xl mx-auto p-4 grid grid-cols-1 sm:grid-cols-2 gap-6">
    <!-- Tarjeta 1 -->
    <img
      src="https://rincondelfabo.vercel.app/certificaciones/diploma-fundamentos-ingenieria-datos_page-0001.jpg"
      alt="Fundamentos de Ingeniería de Datos"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
    <!-- Tarjeta 2 -->
    <img 
      src="https://rincondelfabo.vercel.app/certificaciones/spaceApps.webp"
      alt="Certificación Space Apps"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
    <!-- Tarjeta 3 -->
    <img
      src="https://rincondelfabo.vercel.app/certificaciones/unidea.webp"
      alt="Certificación Unidea"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
    <!-- Tarjeta 4 -->
    <img
      src="https://rincondelfabo.vercel.app/certificaciones/tecnico.webp"
      alt="Certificación Técnico"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
    <!-- Tarjeta 5 -->
    <img
      src="https://rincondelfabo.vercel.app/certificaciones/unitec.webp"
      alt="Certificación Unitec"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
    <!-- Tarjeta 6 -->
    <img
      src="https://rincondelfabo.vercel.app/certificaciones/diploma-git-github_page-0001.jpg"
      alt="Certificación Git y GitHub"
      class="h-60 w-full object-cover rounded-lg shadow-lg"
      loading="lazy"
    />
  </div>
  

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Mi stack de herramientas con las que me siento comodo trabajando:</p>
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/icons/vscode.svg?raw')
      },
      {
        name: 'Insomnia',
        description: 'Request Testing',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/insomnia.svg?raw')
      },
      {
        name: 'Studio 3T',
        description: 'MongoDB Client',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/Studio_3T.svg?raw')
      },
      {
        name: 'MongoDB',
        description: 'Database',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/mongodb.svg?raw')
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        icon: import('@/assets/icons/icons8-python.svg?raw')
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        icon: import('@/assets/icons/icons8-git.svg?raw')
      },
      {
        name: 'PostgreSQL',
        description: 'Database',
        href: 'https://postgrest.org/',
        icon: import('@/assets/icons/icons8-postgresql.svg?raw')
      }

    ]}
  />

  {/* social-networks */}
  <h2 id='social'>Redes sociales</h2>
  <p>
    Dejo mi github con algunos proyectos/blogs
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/fabian-martinez-rincon',
        text: 'followers',
        api: 'github/fabian-martinez-rincon'
      }
    ]}
  />

  
</PageLayout>
