<div class="grid md:grid-cols-2 gap-10 items-start my-10">

  <!-- Imagen -->
  <div>
    <img 
      src="https://raw.githubusercontent.com/Fabian-Martinez-Rincon/EmuTi/refs/heads/main/assets/img/image-2.png"
      alt="Pantalla principal"
      class="rounded-xl shadow-lg w-full max-w-[200px] mx-auto"
    />
  </div>

  <!-- Explicación -->
  <div class="prose prose-invert max-w-none">
    <ul>
      <li><code>Manual</code>: Ingresa el primer dato del Excel en la ventana definida.</li>
      <li><code>Automático</code>: Igual que el manual, pero presiona el botón de forma automática cada <strong>x</strong> tiempo.</li>
      <li><code>Ventana</code>: Nombre de la ventana donde se ingresarán los datos, por ejemplo <strong>"Ingrese una combinación"</strong>.</li>
      <li><code>Índice Nuevo</code>: Permite saltar jugadas o comenzar desde posiciones avanzadas del Excel.</li>
    </ul>
  </div>

</div>
